<main id="input">

    
    <button ng-click='main.getRandom()'>Random GIPHY</button>
    <input ng-model='main.search' />
    <button type='submit' ng-click='main.getGif(main.search)'>Search</button>


    <div id="images">
        <div class="gifGroup" ng-repeat="image in main.results track by $index">
            <img ng-model="main.favoriteGif.image" ng-src='{{ image.images.downsized_large.url }}'/>
            <br />
            <textarea type="text" placeholder="Insert a comment here!" ng-model="main.favoriteGif.comment"></textarea>
            <br />
            <button class="favorite" type="submit" ng-model="main.favoriteGif.index = $index" ng-click="main.searchFavorite()">Favorite</button>
        </div>


        <div class="gifGroup" ng-model="main.favoriteGif">
            <img id="random" ng-model="main.favoriteGif.image" ng-src='{{ main.random }}'/>
            <br />
            <textarea type="text" placeholder="comment" ng-model="main.favoriteGif.comment"></textarea>
            <br />
            <button class="favorite" type="submit" ng-click="main.randomFavorite()">Favorite</button>
        </div>


</main>
